.product-list {
  position: relative;
  min-height: 300px;
  height: 100%;

  h2 {
    font-size: 1.5rem;
    color: #333;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
  }
}